.c-toast
  display flex
  flex-direction: row-reverse
  align-items center
  justify-content center
  animation-duration 150ms
  margin 0.5em 0
  border-radius 0.5em
  pointer-events auto
  color #fff
  min-height 3em
  cursor url(../assets/link.png), auto
  font-family: 'Fauna', Avenir, Helvetica, Arial, sans-serif;
  padding 0.5em 2em
  word-break break-word
