/* color palette from <https://github.com/vuejs/theme> */
:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --game-color-blue: rgba(4, 217, 196, 1);
  --game-color-orange: rgba(234, 146, 62, 1);
  --game-color-blue-dark: rgba(90, 133, 236, 1);
  --game-color-yellow-dark: rgba(150, 189, 13, 1);
  --game-color-yellow-lite: rgba(215, 168, 3, 1.0);
  --game-color-purple: rgba(217, 50, 128, 1);
  --game-color-green: rgba(19, 186, 36, 1);
  --game-color-green-lite: rgba(19, 186, 36, 1);
  --game-color-orange: rgba(234, 146, 62, 1);

  --token-color-alt: rgba(159, 42, 148, 1);
  --token-color-born: rgba(0, 174, 78, 1);
  --token-color-rudoni: rgba(72, 105, 197, 1);

  --button-color-red-dark: rgba(109, 0, 0, 1);
  --button-color-red-lite: rgba(245, 0, 0, 1);
  --button-color-green-dark: rgba(10, 94, 18, 1.0);
  --button-color-blue-dark: rgba(36, 0, 255, 1);

  --scroll-color-dark-orange: rgba(216, 151, 24, 1);

}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  position: relative;
  font-weight: normal;
}
::-webkit-scrollbar {
  width: 0.4vw;
}

::-webkit-scrollbar-track {
  -webkit-box-shadow: 0.1vw 0.1vw 0.1vw -0.1vw rgba(34, 60, 80, 0.2) inset;
  background-color: rgba(255,255,255,0.15);
  border-radius: 0.1vw;
}

::-webkit-scrollbar-thumb {
  border-radius: 0vw;
  background: linear-gradient(180deg, var(--scroll-color-dark-orange), var(--scroll-color-dark-orange));
}
body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Inter, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu,
    Cantarell, 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  font-size: 15px;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
