@import './base.css';

@font-face {
    font-family: "TheAncient";
    src: url("./fonts/TheAncient.ttf") format("truetype");
}
* {-webkit-tap-highlight-color: rgba(0, 0, 0, 0)}
* { outline: none}
img{pointer-events: none;}

#app {
  width: 100%;
  height: 100%;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0 auto;
  padding: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-weight: normal;
  background: url(../assets/background.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow-x: hidden;
  /* user-select: none; */
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  place-items: center;
  cursor: url("./normal.png"), auto;
  font-family: "Fauna", sans-serif;
}
body div{
  display: flex;
  justify-content: center;
  align-items: center;  
  flex-direction: column;
}

body::-webkit-scrollbar {
  display: none
}
a{
  text-decoration: none;
  cursor: url("./link.png"), auto;
}
img{
  object-fit: contain;
}
a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    /* display: none; <- Crashes Chrome on hover */
    -webkit-appearance: none;
    margin: 0; /* <-- Apparently some margin are still there even though it's hidden */
}
input[type='number'] {
  -moz-appearance: textfield;
}
@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    place-items: center;
  }

  #app {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding: 0 auto;
  }
}
